# python
__pycache__
*.pyc
/pip-selfcheck.json
*.egg-info
.eggs
/dist
/pyproject.lock

# pytest
/.pytest_cache
/.cache
/.coverage

# virtualenv
/.venv
/.virtualenv

# other
/example/src
/example/dist
