branches:
  - master
  - develop

cache:
  pip: true

dist: xenial

jobs:
  include:
    - name: black
      language: python
      python: 3.7
      install: pip install black
      script: black --check src tests

    - &code-test
      name: py3.8 - lint + tests
      python: 3.8
      language: python
      install:
        - pip install --upgrade pip setuptools
        - pip install -r requirements-dev.txt
      script:
        - pylint -E multidocs
        - pytest
    - <<: *code-test
      name: py3.7 - lint + tests
      python: 3.7
    - <<: *code-test
      name: py3.6 - lint + tests
      python: 3.6
