<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | DocGen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<div class="container">
    {% include "sidebar.html.j2" %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>
</div>

<script type="text/javascript" src="/static/collapsible-lists.js"></script>

{% block js_body %}{% endblock %}

</body>
</html>
