{% macro expand_selected_item(item) %}
<script>
var el = document.querySelector('a[href="/{{ item.path }}"]');
el.style['font-weight'] = 'bold';
while (el.nodeName != 'ASIDE') {
    el = el.parentElement;
    if (el.classList.contains('collapsibleListClosed')) {
        window.CollapsibleLists.toggle(el);
    }
}
</script>
{% endmacro %}
