{% extends 'layout.html.j2' %}

{% macro page_links() %}
    {% if page.source.edit_url %}
        <a href="{{ page.source.edit_url }}" target="_blank" class="page-link">Edit source</a>
    {% endif %}
    {% if page.source.url %}
        <a href="{{ page.source.url }}" target="_blank" class="page-link">View source</a>
    {% endif %}
{% endmacro %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{{ page_links() }}
    <header class="page-header">
        <h1>{{ page.title | capitalize }}</h1>
    </header>
    <article class="page-content">
        {{ page_html | safe }}
    </article>
    <footer class="content-footer">
        <time>Generated at {{ now.isoformat() }}</time>
        {{ page_links() }}
    </footer>
{% endblock %}

{% block js_body %}
{% from "macros.j2" import expand_selected_item %}
{{ expand_selected_item(page) }}
{% endblock %}
